<div class="container-fluid">
    <div class="simple-login-container">
        <h2>Bank Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="Username">UserName</label>
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                    <input type="text" formControlName="username" 
                           class="form-control" placeholder="Username"></p>
                    <div *ngIf="formControls.username.touched && formControls.username.invalid" class="alert alert-danger">
                        <div *ngIf="formControls.username.errors.required">User Name is required.</div>
                        <div *ngIf="formControls.username.errors.minlength">UserName should be 4 character.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="password">Password</label>
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                    <input type="password" formControlName="password" 
                           placeholder="Enter your Password" class="form-control"></p>
                    <div *ngIf="formControls.password.touched && formControls.password.invalid" class="alert alert-danger">
                        <div *ngIf="formControls.password.errors.required">Password is required.</div>
                        <div *ngIf="formControls.password.errors.minlength">Password should be 6 character.</div>
                    </div> 
                </div>
            </div>
            
            <div *ngIf="[invalidCredentials]" style="color: red; font-size: 14px;">
                <div [hidden]="invalidCredentials === false">
                  &nbsp; Invalid credentials
                </div>
              </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="submit" class="btn btn-block btn-login" >
                </div>

                <div class="col-md-4 form-group">
                </div>

                <div class="col-md-4 form-group">
                    <input type="button" class="btn btn-block btn-login" value="Register" (click)="goToRegister()">
                </div>
            </div>
        </form>
    </div>
</div>